@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
img {
    max-width: 100%;
    width: 100%;
    border: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6em;
    font-weight: 300;
    font-family: :::font:::;
}

body {
    background-color: :::body_background:::;
}

p {
    display: inline-block !important;
    width: 100% !important;
    margin: 0 0 15px !important;
}

table.content-box td {
    color: #2e3233;
    border: 1px solid #808080;
}

@media only screen and (max-width: 640px) {
    body {
        padding: 0 !important;
    }
    h1 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
    }
    h2 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
    }
    h3 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
    }
    h4 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    h3 {
        font-size: 16px !important;
    }
    .container {
        padding: 0 !important;
        width: 100% !important;
    }
    .content {
        padding: 0 !important;
    }
    .content-wrap {
        padding: 10px !important;
    }
    .invoice {
        width: 100% !important;
    }
}
