<tr style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;">
    <!-- col -->
    <td valign="top" class="container" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding:0;">
        <!-- DIV -->
        <div class="content" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; width: 100%; display: block; margin: 0 auto; padding: 0;">
            <!-- ===== FOOTER ===== -->
            <table width="100%" cellpadding="0" cellspacing="0" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;" bgcolor=":::content_background:::">
                <tr style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; vertical-align: middle; font-weight: normal; text-align: justify; margin: 0;" align="center" valign="top">
                        <!-- ===== START CONTENT ===== -->
                        <span style="width: 100%; clear: both; display:  block; float: none; height: 10px; background: transparent;"></span>
                        <span style="width: 100%; clear: both; display:  block; float: none; height: 0px; background: transparent; margin: 0 auto; border-bottom: dashed 1px #ccc;"></span>
                        <span style="width: 100%; clear: both; display:  block; float: none; height: 10px; background: transparent;"></span>
                        <h4 style="font-family::::font:::; text-transform: none; text-align: center; margin: 0 0 8px; color:#202020; font-weight: normal; font-size: 16px">Descargue nuestro App</h4>
                        <table width="100%" border="0" cellspacing="0" cellpadding="8" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;" bgcolor=":::content_background:::">
                            <tr>
                                <td style="font-family: :::font:::; font-weight: 700; box-sizing: border-box; font-size: 14px; vertical-align: middle; margin: 0 auto; text-align:right; " align="right" valign="middle">
                                    <a href="::url_appstore::" title="Descargue nuestro App" target="_blank" style="display: inline-block; width: 180px !important; margin: 0 auto;">
                                        <img src="::img_appstore::" alt="" style="max-width: 180px !important; width: 100% !important; height: auto;">
                                    </a>
                                </td>
                                <td style="font-family: :::font:::; font-weight: 700; box-sizing: border-box; font-size: 14px; vertical-align: middle; margin: 0 auto; text-align: justify;" align="left" valign="middle">
                                    <a href="::url_googleplay::" title="Descargue nuestro App" target="_blank" style="display: inline-block; width: 180px !important;">
                                        <img src="::img_googleplay::" alt="" style="max-width: 180px !important; width: 100% !important; height: auto;">
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <span style="width: 100%; clear: both; display:  block; float: none; height: 10px; background: transparent;"></span>
                        <!-- ===== END CONTENT ===== -->
                    </td>
                </tr>
                <!-- SOCIAL content -->
                <tr style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; vertical-align: middle; font-weight: normal; text-align: center; margin: 0;" align="center" valign="top">
                        <!-- ===== START CONTENT ===== -->
                        <p style="font-family::::font:::; text-transform: none; text-align: center; margin: 0 0 8px; color:#666; font-weight: normal; font-size: 13px;">
                            Visítanos <a href="http://www.starter.com" target="_blank" style="color:#666; cursor: pointer;">www.starter.com</a>
                        </p>
                        <div class="content" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; width: 100%; display: block; margin: 0 auto; padding: 0; text-align: center;">
                            <table width="120px" border="0" align="center" cellpadding="4" cellspacing="0" style="margin: 0 auto; border:none;">
                                <tr>
                                    <td align="center" valign="middle" style="margin:0; padding:0 10px 0 0; text-align: center;">
                                        <a href="::url_facebook::" style="display: inline-block; width: 28px; height: 28px; border: none;">
                                            <img src="::img_facebook::" alt="Facebook" style="border: none; display: block; margin: 0 auto; width: 28px; height: 28px;" />
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="margin:0; padding:0 10px 0 0; text-align: center;">
                                        <a href="::url_instagram::" style="display: inline-block; width: 28px; height: 28px; border: none;">
                                            <img src="::img_instagram::" alt="Instagram" style="border: none; display: block; margin: 0 auto; width: 28px; height: 28px;" />
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="margin:0; padding:0 10px 0 0; text-align: center;">
                                        <a href="::url_pinterest::" style="display: inline-block; width: 28px; height: 28px; border: none;">
                                            <img src="::img_pinterest::" alt="Pinterest" style="border: none; display: block; margin: 0 auto; width: 28px; height: 28px;" />
                                        </a>
                                    </td>
                                    <td align="center" valign="middle" style="margin:0; padding:0; text-align: center;">
                                        <a href="::url_youtube::" style="display: inline-block; width: 28px; height: 28px; border: none;">
                                            <img src="::img_youtube::" alt="Youtube" style="border: none; display: block; margin: 0 auto; width: 28px; height: 28px;" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- ===== END CONTENT ===== -->
                    </td>
                </tr>
                <!-- INFO content -->
                <tr style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; vertical-align: middle; font-weight: normal; text-align: center; margin: 0;" align="center" valign="top">
                        <!-- ===== START CONTENT ===== -->
                        <div class="content" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; width: 100%; display: block; margin: 0 auto; padding: 0; text-align: center;">
                            <table style="min-width:100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="min-width: 100%; padding: 10px 18px 25px;">
                                            <table style="min-width: 100%;border-top: 2px solid #EEEEEE;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td><span></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="min-width:100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="padding-top:9px;" valign="top">
                                            <table style="max-width:100%; min-width:100%;" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top">
                                                            <p style="font-family::::font:::; text-transform: none; text-align: center; margin: 0 0 8px; color:#2e3233; font-weight: normal; font-size: 12px; line-height: 18px;">
                                                                :::footer_text:::
                                                                <br/>
                                                                <br/>
                                                                <em>Copyright © ::current_year::&nbsp; Starter</em>
                                                            </p>
                                                            <br/> &nbsp;
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- ===== END CONTENT ===== -->
                    </td>
                </tr>
                <!-- end -->
            </table>
        </div>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</body>

</html>
