</style>
</head>

<body>
    <center>
        <table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin:0 auto; background: :::body_background:::; width:600px; max-width:600px; border-color: #ccc; border: solid 1px #cccccc;">
            <tr style="text-align: center;" valign="middle">
                <td valign="top">
                    <table border="0" class="body-wrap" style="font-family: :::font:::; box-sizing: border-box; border:none; font-size: 14px; width: 100%; margin: 0 auto;" align="center">
                        <!-- ================= FILA HEADER ================= -->
                        <tr style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <!-- col -->
                            <td align="center" valign="top" class="container" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding:0;">
                                <!-- DIV -->
                                <div class="content" style="font-family: :::font:::; box-sizing: border-box; font-size: 14px; width: 100%; display: block; margin: 0 auto; padding:0; border:none;">
                                    <!-- === HEADER ===== -->
                                    <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box; background-color: :::body_background:::; width: 100%; margin: 0; border:none;" border="0" bgcolor=":::body_background:::">
                                        <tr style="margin: 0;">
                                            <td align="center" valign="top" bgcolor=":::top_background:::" style="text-align: center; margin: 0; padding: 0;">
                                                <div style="max-width:600px; margin:0 auto;" class="no-mso" id="header-no-mso">
                                                    <img src="::img_logo::" alt="Premflight" style="max-width:600px !important; width: 40% !important; height: auto; border:none; padding: 10px;">
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                <div style="max-width:600px; margin:0 auto;">
                                                <img src="::img_logo::" alt="Premflight" width:600px style="display: block; max-width:600px !important; width: 40% !important; height: auto; border:none;" >
                                                </div>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
