<!-- ================= FILA BODY ================= -->
<tr style="font-family: 'Quattrocento Sans', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <!-- col -->
    <td valign="top" class="container" style="font-family: 'Quattrocento Sans', sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding:0;">
        <!-- DIV -->
        <div class="content" style="font-family: 'Quattrocento Sans', sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; display: block; margin: 0 auto; padding: 0;">
            <!-- ===== content body ===== -->
            <table width="100%" border="0" align="center" cellpadding="15" cellspacing="0" bgcolor=":::content_background:::" style="font-family: 'Quattrocento Sans', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; width: 100%;">
                <tr style="font-family: 'Quattrocento Sans', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; width: 100%;">
                    <td style="font-family: 'Quattrocento Sans', sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: middle; font-weight: normal; text-align: justify; margin: 0;" align="center" valign="top">
                        <!-- ===== START CONTENT ===== -->
                        <h4 style="font-family: 'Quattrocento Sans', sans-serif; text-transform: none; text-align: justify; margin: 5px 0 15px; color: :::headers_background:::; font-weight: bold; font-size: 16px">
                            Bienvenido ::name::!
                        </h4>
                        <p style="font-family: 'Quattrocento Sans', sans-serif; color:#2e3233; line-height: 16px;">
                            Gracias por darnos una oportunidad, esperamos que disfrute con nosotros!
                        </p>
                        <table cellspacing="0" cellpadding="30" style="width: 100%; color: #2e3233;">
                            <tr>
                                <td>
                                    <table class="content-box" cellspacing="0" cellpadding="0" style="width: 100%;">
                                        <tr>
                                            <th colspan="2" style="background-color:#2e3233; padding: 5px; font-weight:bold; color: #dddddd; text-align:center;">
                                                DETALLES DE LA CUENTA
                                            </th>
                                        </tr>
                                        <tr>
                                            <td style="background-color::::table_content_background:::; padding: 10px 5px;">
                                                <strong>Nombre</strong>
                                            </td>
                                            <td style="background-color::::table_content_background:::; padding: 10px 5px;">
                                                ::name::
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color::::table_content_background:::; padding: 10px 5px;">
                                                <strong>Apellidos</strong>
                                            </td>
                                            <td style="background-color::::table_content_background:::; padding: 10px 5px;">
                                                ::last_name::
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color::::table_content_background:::; padding: 10px 5px;">
                                                <strong>Email</strong>
                                            </td>
                                            <td style="background-color::::table_content_background:::; padding: 10px 5px;">
                                                ::email::
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:#f3f3f3; padding: 10px 5px;">
                                                <strong>Contraseña generada</strong>
                                                <br> <small>(Puede ser cambiada desde la cuenta)</small>
                                            </td>
                                            <td style="background-color:#f3f3f3; padding: 10px 5px;">
                                                ::password::
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <span style="width: 100%; clear: both; display: block; float: none; height: 20px; background: transparent;"></span>
                        <!-- ===== END CONTENT ===== -->
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
